<!DOCTYPE html>
<html lang="en" ng-app="ponyApp">

<head>
    <meta charset="UTF-8">
    <title>My Little Brony List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="http://vignette4.wikia.nocookie.net/mlp-gameloft/images/0/04/Wiki_Favicon.png/revision/latest?cb=20140810115824">
</head>

<body ng-controller="PonyController">

    <header>
        <div class="container">
            <div class="row">
                <div>
                    <h1 class="text-center">My Fav Little Ponies</h1>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section>
            <div class="container input-size">
                <div class="row">
                    <form class="form-group" name="topForm" action="">
                        <div>
                            <h5 class="text-center">Name:</h5>
                            <input id="name" class="form-control" type="text" ng-model="pony.name" required>
                        </div>
                        <div>
                            <h5 class="text-center">Image URL:</h5>
                            <input class="form-control" type="text" ng-model="pony.imgUrl" required>
                        </div>
                        <div>
                            <h5 class="text-center">Username:</h5>
                            <input class="form-control" type="text" ng-model="pony.username" required>
                        </div>
                    </form>
                    <div>
                        <button id="add" type="button" class="center-block btn btn-color" ng-click="check(pony)">Add Pony</button>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div>
                <div class="row top-margin">
                    <div class="DocumentList">
                        <ul class="list-inline">
                            <li class="DocumentItem" ng-repeat="pony in ponies.ponyList track by $index">
                                <form name="bottomForm">
                                    <div class="form-group">
                                        <span><h3 ng-hide="pony.editing" class="text-center">{{ pony.name }}</h3></span>
                                        <input ng-show="pony.editing" class="center-block form-control" type="text" placeholder="Name" ng-model="pony.name" required>

                                    </div>
                                    <div class="form-group">
                                        <span><img ng-hide="pony.editing" class="center-block" height="125px" width="125px" ng-src="{{ pony.imgUrl }}" alt=""></span>
                                        <input ng-show="pony.editing" class="center-block form-control" type="text" placeholder="Image URL" ng-model="pony.imgUrl" required>
                                    </div>
                                    <div class="form-group">
                                        <p ng-hide="pony.editing" class="text-center">{{ pony.username }}</p>
                                        <input ng-show="pony.editing" class="center-block form-control" type="text" placeholder="Username" ng-model="pony.username" required>
                                    </div>
                                </form>

                                <div class="container">
                                    <div class="row">
                                        <div>
                                            <button type="button" ng-hide="pony.editing" ng-click="pony.editing = !pony.editing" class="btn btn-primary glyphicon glyphicon-pencil"></button>
                                        </div>
                                        <div>
                                            <button type="button" ng-show="pony.editing" ng-click="updatePony(pony, $index)" class="btn btn-success glyphicon glyphicon-floppy-saved"></button>
                                        </div>
                                        <div>
                                            <button type="button" ng-click="deletePony(pony, $index)" class=" btn btn-danger glyphicon glyphicon-remove"></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-messages.js"></script>
    <script src="app.js"></script>
    <script src="services/PonyService.js"></script>
</body>

</html>