@font-face {
    font-family: Hole-Hearted;
    src: url("fonts/Hole-Hearted.ttf");
}

body {
    background: url("http://wallpapercave.com/wp/CRmZy32.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    box-sizing: border-box;
    color: mediumpurple;
    font-family: Hole-Hearted;
    font-size: 50px;
}

input {
    opacity: .7;
}

h3 {
    font-family: Hole-Hearted;
}

p {
    font-family: Hole-Hearted;
}

h5 {
    box-sizing: border-box;
    color: #2d6991;
    font-family: Hole-Hearted;
    font-size: 25px;
}

.btns {
    position: sticky; 
}

.btn-color {
    background-color: mediumpurple;
    color: white;
}

.input-size {
    box-sizing: border-box; 
    width: 50%; 
}

.DocumentList {
    padding-top: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 350px;
    width: 100%;
    padding: 0 15px;
}

.DocumentItem {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 8px;
    height: 335px;
    width: 300px;
    background-color: white;
    opacity: .9;
    margin-left: 53px;
    margin-right: 53px;
}

.DocumentItem:hover {
    background-color: mediumpurple;
    opacity: .95;
}

.list-inline {
    white-space: nowrap;
}

.top-margin {
    margin-top: 25px;
}