body {
    background: url("http://wallpapercave.com/wp/CRmZy32.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn-color {
    background-color: rebeccapurple;
    color: white; 
}

.btn-color:hover {
    color: deeppink; 
}

h1 {
    box-sizing: border-box;
    color: rebeccapurple; 
    font-family: Hole-Hearted;
    font-size: 50px;
/*
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    background-color: gray;
    opacity: .8;
*/
}

input {
    opacity: .7; 
}

h5 {
    box-sizing: border-box;
    color: #2d6991; 
    font-family: Hole-Hearted; 
    font-size: 25px; 
/*
    border: 2px solid black; 
    background-color: gray; 
    border-radius: 8px; 
    opacity: .8; 
    width: 85px; 
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
*/
}

.input-border {
    box-sizing: border-box;
    width: 350px; 
    margin-left: auto; 
    margin-right: auto; 
}

@font-face {
    font-family: Hole-Hearted;
    src: url("fonts/Hole-Hearted.ttf");
}