h4 {
    margin-top: 75px; 
    color: darkgrey; 
    font-family: sans-serif; 
}

h2>a {
    color: black;  
}

h2>a:hover {
    color: #FEE8DF;
    text-decoration: none; 
}

p>i {
    color: darkgrey; 
}

p>a {
    color: black; 
    font-style: italic;  
}

p>a:hover {
    color: #FEE8DF;
}

.p-spacing {
    margin-top: 50px; 
}

.img-responsive {
    margin-top: 35px;
}

.side-border {
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

.side-items {
    float: right;
    display: inline-flex;
}

.nav-img {
    margin-left: 25px;
}

.header-img {
    width: 100%;
    height: auto;
}

.btn:hover {
    color: white;
    background-color: lightgrey;
}

.btn {
    border-radius: 0px;
    background-color: white;
    border: 2px solid lightgrey;
    margin-top: 50px;
    height: 45px;
}

.bottom {
    background-color: #FEE8DF;
    height: 75px;
    width: 0, auto;
    padding-top: 17px;
    box-sizing: border-box;
}

.input:focus {
    outline: none;
}

.the-input {
    padding-left: 8px;
    font-style: italic;
    height: 40px;
    width: 23%;
}

.the-nav {
    height: 71px;
    width: 100%;
    background-color: white;
    position: fixed;
    padding-top: 15px;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    z-index: 3;
}

.a-nav:hover {
    color: black; 
}

.a-nav-1 {
    margin-left: 20.75%;
    color: black;
    font-weight: 500;
}

.a-nav-2 {
    margin-left: 4%;
    color: black;
    font-weight: 500;
}

.a-nav-3 {
    margin-left: 4%;
    color: black;
    font-weight: 500;
}

.a-nav-4 {
    margin-left: 4%;
    color: black;
    font-weight: 500;
}

.search-input {
    float: right;
    margin-right: 20px;
    padding-left: 8px;
    font-style: italic;
    height: 32px;
    width: 14%;
}

@media (min-width: 0px) and (max-width: 400px) {
    .the-input {
        width: 90%;
    }
}

@media (min-width: 401px) and (max-width: 700px) {
    .the-input {
        width: 70%;
    }
}

@media (min-width: 701px) and (max-width: 900px) {
    .the-input {
        width: 60%;
    }
}

@media (min-width: 901px) and (max-width: 1200px) {
    .the-input {
        width: 40%;
    }
}

@media (max-width: 1100px) {
    .search-input {
        display: none;
    }
}

@media (max-width: 730px) {
    .a-nav-1 {
        display: none;
    }
}

@media (max-width: 730px) {
    .a-nav-2 {
        display: none;
    }
}

@media (max-width: 730px) {
    .a-nav-3 {
        display: none;
    }
}

@media (max-width: 730px) {
    .a-nav-4 {
        display: none;
    }
}