font-face {
    font-family: Cinzel-Regular;
    src: url(fonts/Cinzel-Regular.otf);
}

body {
    font-family: Cinzel-Regular;
}

.class {
    display: inline-block; 
}

.main-img {
    height: auto;
    width: 350px;
}

.skill-icon-margin {
    margin-top: 10px; 
}

.skill-margin {
    margin-top: 30px;
}

.view-content-margin {
    margin-top: 75px; 
}

.view-top-margin {
    margin-top: 40px; 
}

.home-font {
    font-size: 40px;
}

.icon-size {
    font-size: 40px;
    color: grey;
}

.icon-size:hover {
    color: #25AE90;
}

.no-list-style {
    list-style: none;
    padding: 0px;
}

.list-margin {
    margin-bottom: 20px;
}

.name-color {
    color: white; 
}

.list-right {
    display: inline;
    float: right; 
}

.list-left {
    display: inline; 
    float: left; 
}

.list-color {
    color: grey;
    text-decoration: none;
    font-size: 18px
}

.list-color:active {
    color: plum;
}

.list-decor:hover {
    color: #25AE90;
}

.profile-img {
    margin-top: 16.5px;
    margin-left: 10px; 
    height: 75px;
    width: 75px;
    border-radius: 50px;
}

.profile-img:hover {
    opacity: .8;
}

.top-bar {
    background-color: #262626; 
    height: 110px;
    border: 1px solid lightgrey;
    width: 100%;
    position: fixed; 
    z-index: 1; 
}