font-face {
    font-family: Cinzel-Regular;
    src: url(fonts/Cinzel-Regular.otf);
}

body {
    font-family: Cinzel-Regular;
}

.view-top-margin {
    margin-top: 100px; 
}

.menu-toggle {
    margin-top: 3px;
    border-radius: 10px;
    border: 2px solid black;
    position: fixed; 
    z-index: 4; 
    margin-left: 150px; 
}

.about-div {
    margin-left: auto;
    margin-right: auto;
}

.home-font {
    font-size: 40px;
}

.icon-size {
    margin-top: 20px;
    font-size: 40px;
    color: grey;
}

.icon-size:hover {
    color: #25AE90;
}

.no-list-style {
    list-style: none;
    padding: 0px;
}

.list-margin {
    margin-bottom: 20px;
}

.name-color {
    color: white;
}

.list-inline {
    display: inline;
}

.list-color-A {
    color: grey;
    text-decoration: none;
    font-size: 18px
}

.list-color-A:active {
    color: plum;
}

.list-decor-A:hover {
    color: #25AE90;
}

.list-color-B {
    font-size: 23px;
    color: grey;
    margin-left: 150px;
}

.list-color-B:hover {
    color: grey;
}

.nav-margin {
    margin-top: 30px;
}

.profile-img {
    margin-top: 25px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.profile-img:hover {
    opacity: .8;
}

.top-nav {
    padding-top: 10px;
}

.nav-bar {
    margin-top: -50.25px;
    width: 150px;
    height: 100%;
    z-index: 2;
    border: 1px solid black;
    background-color: #262626;
    height: 2000px;
}

.top-bar {
    box-sizing: border-box;
    height: 50px;
    border: 1px solid lightgrey;
    width: 100%;
    z-index: 1;
}

.slides-control-div {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.slides-control {
    height: auto;
    width: 100%;
    top: 20px;
    margin-left: 150px;
    margin-right: -7.50px;
}

@media (max-width: 700px) and (min-width: 0px) {
    .nav-bar {
        display: none; 
    }
}

@media (min-width: 0px) and (max-width: 700px) {
    .menu-toggle {
        margin-left: 0px;
    }
}

@media (min-width: 0px) and (max-width: 700px) {
    .list-color-B {
        margin-left: 0px;
    }
}