body {
    background: url("https://wallpaperscraft.com/image/dollars_frame_money_white_background_80211_1920x1080.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-fluid {
    border-radius: 0px; 
}

.home-btn {
    min-width: 300px;
    width: 40%;
}