body {
    background-color: black; 
}

.container-fluid {
    border-radius: 0px;
    width: 100%;
}

.home-btn {
    min-width: 300px;
    width: 40%;
}

.navbar {
    background-color: #353A3D;
}

.well {
    background-color: darkgray; 
}

.jumbotron {
    background-color: darkgray; 
}

.color {
    color: white;
}