<div class="container">
    <div class="row">
        <div class="center-block panel panel-default home-margin post-width">
            <div class="panel-heading">
                <input class="input" type="text" placeholder="Username" ng-model="park.username">
            </div>
            <div class="panel-body">
                <textarea class="text-location" name="" id="" rows="2" placeholder="Say something" ng-model="park.body"></textarea>
            </div>

            <ul class="list-group from-group">
                <li ng-show="toggle === 'location'" class="list-group-item">
                    <textarea class="text-location" name="" id="" rows="1" placeholder="Where is this?" ng-model="park.location"></textarea>
                </li>
                <li ng-show="toggle === 'length'" class="list-group-item">
                    <textarea class="text-location" name="" id="" rows="1" placeholder="Length of hike" ng-model="park.length"></textarea>
                </li>
                <li ng-show="toggle === 'image'" class="list-group-item">
                    <textarea class="text-location" name="" id="" rows="1" placeholder="Image URL" ng-model="park.image"></textarea>
                </li>
                <li class="list-group-item">
                    <a href="" ng-click="toggle = 'location'"><span title="Add location" class="glyphicon glyphicon-map-marker icons"></span></a>
                    <a href="" ng-click="toggle = 'image'"><span title="Add an image" class="glyphicon glyphicon-picture icons"></span></a>
                    <a href="" ng-click="toggle = 'length'"><span title="Length of hike" class="glyphicon glyphicon-road icons"></span></a>
                    <button class="btn btn-primary pull-right" type="button" ng-click="addPark(park)">Post</button>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="container" ng-repeat="park in parks.parkList track by $index">
    <div class="row">
        <div class="center-block panel panel-default post-margin post-width">
            <div class="panel-heading">
                <h4>user: {{ park.username }}</h4>
                <a href="" ng-click="deletePark(park, $index)"><span title="Delete Post" class="glyphicon glyphicon-remove pull-right remove post-icons"></span></a>
                <input ng-show="" class="input" type="text" placeholder="Username" ng-model="park.username">
                <input ng-show="" class="input" class="pull-right" type="text" placeholder="Password" ng-model="park.password">
            </div>
            <div class="panel-body">
                <h5>{{ park.body }}</h5>
                <textarea ng-show="" class="text-location" name="" id="" rows="2" placeholder="Say something" ng-model="park.body"></textarea>
            </div>

            <ul class="list-group from-group">
                <li class="list-group-item">
                    <span title="Location" class="glyphicon glyphicon-map-marker"></span>
                    <p class="text-center post-img">     {{ park.location }}</p>
                </li>
                <li class="list-group-item">
                    <span title="Length of hike" class="glyphicon glyphicon-road"></span>
                    <p class="text-center post-img">     {{ park.length }} miles</p>
                </li>
                <li class="list-group-item">
                    <img title="Image" class="img-responsive center-block" ng-src="{{ park.image }}" height="200px" width="300px" alt="">
                </li>
                <li class="list-group-item">
                    <span>Likes </span>
                    <a href="" ng-click="like()"><span title="Like" class="glyphicon glyphicon-hand-up"></span></a> <span>{{ park.likes }}</span>
                    <span class="pull-right">{{ park.date }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>