<div class="container">
    <div class="row">
        <div class="center-block panel panel-default home-margin post-width">
            <div class="panel-heading">
                <input class="input" type="text" placeholder="Username" ng-model="park.username">
            </div>
            <div class="panel-body">
                <textarea class="text-location" name="" id="" rows="2" placeholder="Say something" ng-model="park.body"></textarea>
            </div>

            <ul class="list-group from-group">
                <li ng-show="parks.location" class="list-group-item">
                    <textarea class="text-location" name="" id="" rows="1" placeholder="Where is this?" ng-model="park.location"></textarea>
                </li>
                <li ng-show="parks.length" class="list-group-item">
                    <textarea class="text-location" name="" id="" rows="1" placeholder="Length of hike" ng-model="park.length"></textarea>
                </li>
                <li ng-show="parks.image" class="list-group-item">
                    <textarea class="text-location" name="" id="" rows="1" placeholder="Image URL" ng-model="park.image"></textarea>
                </li>
                <li class="list-group-item">
                    <a href="" ng-click="isLocation(location)"><span title="Add location" class="glyphicon glyphicon-map-marker icons" ng-model="location"></span></a>
                    <a href="" ng-click="isImage(image)"><span title="Add an image" class="glyphicon glyphicon-picture icons" ng-model="image"></span></a>
                    <a href="" ng-click="isLength(length)"><span title="Length of hike" class="glyphicon glyphicon-road icons" ng-model="length"></span></a>
                    <button class="btn btn-primary pull-right" type="button" ng-click="addPark(park)">Post</button>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="container" ng-repeat="park in parks.parkList">
    <div class="row">
        <div class="center-block panel panel-default post-margin post-width">
            <div class="panel-heading">
                <h4>user: {{ park.username }}</h4>
                <a href="" ng-click="deletePark(park, $index)"><span title="Delete Post" class="glyphicon glyphicon-remove pull-right remove post-icons"></span></a>                <input ng-show="" class="input" type="text" placeholder="Username" ng-model="park.username">
                <input ng-show="" class="input" class="pull-right" type="text" placeholder="Password" ng-model="park.password">
            </div>
            <div class="panel-body">
                <p>{{ park.body }}</p>
                <textarea ng-show="" class="text-location" name="" id="" rows="2" placeholder="Say something" ng-model="park.body"></textarea>
            </div>

            <ul class="list-group from-group">
                <li class="list-group-item">
                    <p>{{ park.location }}</p>
                </li>
                <li class="list-group-item">
                    <p>{{ park.length }} miles</p>
                </li>
                <li class="list-group-item">
                    <img class="center-block" ng-src="{{ park.image }}" height="200px" width="300px" alt="">
                </li>
                <li class="list-group-item">
                    <span>Likes </span>
                    <a href="" ng-click="like()"><span title="Like" class="glyphicon glyphicon-triangle-top"></span></a> <span>{{ park.likes }}</span>
                    <span class="pull-right">{{ park.date }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>