.container-fluid {
    float: left;
    width: 40%;  
    margin-left: 5%; 
    border: 2px solid lightgrey; 
    border-radius: 10px; 
    box-shadow: 10px 10px 5px #888888;
    background-color: white; 
}

body {
    background-color: blanchedalmond;  
}