<div class="container home-div center-block top-margin">
    <div class="row">
        <div>
            <h3 class="text-center">Enter a Location:</h3>
        </div>
        <form class="form-group" action="">
            <div>
                <input class="form-control" type="text" ng-model="location">
            </div>
        </form>
        <div>
            <button ng-click="getWeather(location)" type="button" class="center-block btn btn-primary btn-margin">Get Weather</button>
        </div>
    </div>
</div>