body {
    background: url("http://imagesci.com/img/2013/05/sleeping-pikachu-wallpaper-5737-hd-wallpapers.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    width: 380px; 
}

h1 {
    color: white; 
}

img {
    border-radius: 8px;  
}

.top-margin {
    margin-top: 80px; 
}